<body>
    <div>

        <section>
            @for (item of listPilotos; track $index) {
                <ul>
                    <li>
                        id: {{item.id}} <br />
                        Nombre: {{item.nombre}} <br />
                        Primera Escuderia: {{item.escuderia}} <br />
                        Escuderia Actual: {{item.escuderiaActual}} <br />
                        Año debut: {{item.anioDebut}} <br />
                        Premios: {{item.cantPremios}} <br />
                        Podios Logrados: {{item.cantPodios}} <br />
                        Esta activo?: @if(item.isActive){ Si } @else { No } <br />

                        <button (click)="borrarPiloto(item.id)" class="btn-delete">Delete</button>
                    </li>
                </ul>
            }
        
        </section>
    
    </div>
</body>



<app-add-piloto (pilotoEmitter)="agregarPiloto($event)"> </app-add-piloto>
