
<section>
    <fieldset>
        <legend>AGREGAR PILOTO</legend>
 

    <form [formGroup]="formulario" (ngSubmit)="addPiloto()">
        <label for="nombre"> Nombre </label>
        <input type="text"
        formControlName="nombre">

        <label for="id"> ID: </label>
        <input type="number"
        formControlName="id">

       <!-- AGREGAR CONDICIONES DE VALIDATORES DEL FORMULARIO-->
        <label for="escuderia"> Escuderia </label>
        <select formControlName="escuderia" id="">
            <option value="redbull">REDBULL</option>
            <option value="ferrari">FERRARI</option>
            <option value="williams">EL DE COLAPINTO</option>
        </select>

        <label for="escuderiaActual"> Escuderia Actual </label>
        <select formControlName="escuderiaActual" id="">
            <option value="redbull">REDBULL</option>
            <option value="ferrari">FERRARI</option>
            <option value="williams">EL DE COLAPINTO</option>
        </select>
        

        <label for="anioDebut"> Año debut </label>
        <input type="number"
        formControlName="anioDebut">

        <label for="cantPremios"> Cantidad de Premios </label>
        <input type="number"
        formControlName="cantPremios">

        <label for="cantPodios"> Cantidad de Podios </label>
        <input type="number"
        formControlName="cantPodios">

        <label>Esta Activos?</label> 
        <select formControlName="isActive" id="">
            <option value= true>Si</option>
            <option value= false>No</option>
        </select>

        <button type="submit"> AGREGAR </button>
    </form>

</fieldset>
</section>
